<h1 align="center">進学</h1>
<table width=100% align="center">
<tr hight=30% width=100%>
  <td align="center"><%=link_to("進学",boards_path(boardtype_id: 1))%></tb>
  <td align="center">短期大学</tb>
  <td align="center">四年制大学</tb>
</tr>

<%= link_to '進学', 'board2' %>


<tr>
  <td align="center">専門学校</tb>
  <td align="center">大学</tb>
</tr>

<tr>
  <td align="center">看護医療</tb>
  <td align="center">国公立</tb>
</tr>

<tr>
  <td align="center">専門学校</tb>
  <td align="center">大学</tb>
</tr>

<tr>
  <td align="center">商業・情報</tb>
  <td align="center">私立</tb>
</tr>

<tr>
  <td align="center">ファッション</tb>
</tr>

<tr>
  <td align="center">理美容・食品・栄養</tb>
</tr>

<tr>
  <td align="center">その他</tb>
</tr>

</table>
<p> <%= link_to 'ホーム', '/' %> </p>
<p> <%= link_to '戻る', '/board' %> </p>