<h1 align="center">掲示板</h1>
<table width=100% align="center">
  <tr hight=30% width=100%>
    <td align="center">公務員</tb>
    <td align="center">進学</tb>
    <td align="center">就職</tb>
  </tr>
</table>
<p> <%= link_to '戻る', '/' %> </p>