<h1 align="center">掲示板</h1>
<table width=100% align="center">
  <tr hight=30% width=100%>
    <td align="center">公務員</tb>
    <td align="center"> <%= link_to '進学', 'board2' %> </tb>
    <td align="center"> <%= link_to '就職', 'board3' %> </tb>
  </tr>
</table>
<p> <%= link_to '戻る', '/' %> </p>