<h1 align="center">個別トーク</h1>
<table width=100% align="center">
  <tr hight=30% width=100%>
    <td align="center">先生</tb>
    <td align="center">生徒</tb>
    <td align="center">履歴</tb>
  </tr>

  <tr hight=30% width=100%>
    <td align="center"></tb>
    <td align="center">3年</tb>
    <td align="center"></tb>
  </tr>

  <tr hight=30% width=100%>
    <td align="center"></tb>
    <td align="center">2年</tb>
    <td align="center"></tb>
  </tr>

  <tr hight=30% width=100%>
    <td align="center"></tb>
    <td align="center">1年</tb>
    <td align="center"></tb>
  </tr>
</table>
<%= button_to "戻る", {controller: 'home', action: 'top'}, {method: :get} %>