<h1 align="center">検定予定・提出物</h1>
<table width=100% align="center">
  <tr hight=30% width=100%>
    <td align="center">進路スケジュール</tb>
    <td align="center">提出物</tb>
    <td align="center">検定</tb>
  </tr>
  <tr>
    <td align="center"></tb>
    <td align="center"></tb>
    <td align="center">案内</tb>
  </tr>
  <tr>
    <td align="center"></tb>
    <td align="center"></tb>
    <td align="center">スケジュール</tb>
  </tr>
</table>
<p> <%= link_to '戻る', '/' %> </p>