<h1 aligen="center">大学</h1>
<table width=100% align="center">
  <tr hight=30% width=100%>
    <td align="center">４年制大学</tb>
    <td align="center"></tb>
    <td align="center"></tb>
    <td align="center">短期大学</tb>
　</tr>
  <tr>
    <td align="center">学部</tb>
    <td align="center"></tb>
    <td align="center"></tb>
    <td align="center">学部</tb>
  </tr>
  <tr>
    <td align="center">国公立</tb>
    <td align="center">４年制大学</tb>
    <td align="center">短期大学</tb>
    <td align="center">国公立</tb>
  </tr>
  <tr>
    <td align="center">私立</tb>
    <td align="center"></tb>
    <td align="center"></tb>
    <td align="center">私立</tb>
  </tr>
  <tr>
    <td align="center">学部</tb>
    <td align="center"></tb>
    <td align="center"></tb>
    <td align="center">学部</tb>
  </tr>
  <tr>
    <td align="center">学校名</tb>
    <td align="center"></tb>
    <td align="center"></tb>
    <td align="center">学校名</tb>
  </tr>
  </table>
  <p> <%= link_to '戻る', '/document' %> </p>