<table width=100% align="center">
  <tr hight=30% width=100%>
    <td align="center"><%= link_to '掲示板', '/board' %></td>
    <td align="center"><%= link_to '進路資料', '/document' %></td>
  </tr>
  <tr>
    <td align="center"><%= link_to '検定・予定・提出物', '/guidance' %></td>
    <td align="center"><%= link_to '個別トーク', '/talk' %></td>
  </tr>
  <tr>
    <td align="center">プロフィール</td>
    <td align="center">ログアウト</td>
  </tr>
</table>
