<table width=100% align="center">
  <tr hight=30% width=100%>
    <td align="center">掲示板</td>
    <td align="center">進路資料</td>
  </tr>
  <tr>
    <td align="center">検定・予定・提出物</td>
    <td align="center">個別トーク</td>
  </tr>
  <tr>
    <td align="center">プロフィール</td>
    <td align="center">ログアウト</td>
  </tr>
</table>
