<h1 align="center">就職</h1>

<table width=100% align="center">
  <tr hight=30% width=100%>
    <td align="center">製造</td>
    <td align="center">事務</td>
  </tr>

  <tr>
    <td align="center">IT</td>
    <td align="center">小売り</td>
  </tr>
</table>

<p> <%= link_to 'ホーム', '/' %> </p>
<p> <%= link_to '戻る', '/board2' %> </p>
