<h1 align="center">進路資料</h1>
<table width=100% align="center">
  <tr hight=30% width=100%>
    <td align="center"></tb>
    <td align="center">進学</tb>
  </tr>
  <tr>
    <td align="center"><%= link_to '公務員', '/document3' %></tb>
    <td align="center"><%= link_to '大学', '/document2' %></tb>
    <td align="center"><%= link_to '就職', '/document4' %></tb>
  </tr>
  <tr>
  <td align="center"></tb>
    <td align="center">専門学校</tb>
  </tr>
</table>
<p> <%= link_to '戻る', '/' %> </p>