<h1 align="center">進路資料</h1>
<table width=100% align="center">
  <tr hight=30% width=100%>
    <td align="center"></tb>
    <td align="center">進学</tb>
  </tr>
  <tr>
    <td align="center">公務員</tb>
    <td align="center">大学</tb>
    <td align="center">就職</tb>
  </tr>
  <tr>
  <td align="center"></tb>
    <td align="center">専門学校</tb>
  </tr>
</table>
<p> <%= link_to '戻る', '/' %> </p>